<div class="container mt-5">
  <form action="" #emailform="ngForm" (ngSubmit)="submitForm()">
    <label for="email" class="form-label">Email</label>
    <input
      id="email"
      name="email"
      class="form-control"
      [pattern]="regex"
      [(ngModel)]="email"
      autocomplete="off"
      required
      #emailControl="ngModel"
      [ngClass]="{
        'is-invalid':
          emailControl.errors && emailControl.touched && emailControl.dirty
      }"
    />
    <ng-container
      *ngIf="emailControl.errors && emailControl.touched && emailControl.dirty"
    >
      <div *ngIf="emailControl.errors.required" class="invalid-feedback">
        Email is required
      </div>
      <div *ngIf="emailControl.errors.pattern" class="invalid-feedback">
        Enter a valid email
      </div>
    </ng-container>
    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="emailform.invalid"
    >
      Send
    </button>
  </form>
</div>
